body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    /* background-color: #333 */
}

h1 {
    font-size: 80px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 15px;
    margin-right: 5px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 15px;
}

#message-1, #message-2, #message-3{
    font-size: 30px;
}

p{
    font-size:20px;
}

@media only screen and (max-device-width: 480px) {

    body {
        color: #333333;
        font-family: arial;
        max-width: 650px;
        margin: 0 auto;
        padding: 0 16px;
    
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden
    }
   

    header {
        margin-top: 16px;
        margin-bottom: 48px;
        /* background-color: #333 */
    }
    
    h1 {
        font-size: 130px;
        margin-bottom: 16px;
    }
    
    header a {
        font-size: 40px;
        color: #888888;
        margin-right: 30px;
        text-decoration: none;
    }
    
    .portrait {
        width: 100%;
        border-radius: 20px;
        
    }
    
    input {
        width: 100%;
        padding: 20px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 50px;
    }
    
    ::placeholder {
        font-size: 40px;
      }

    

    button {

        width: 100%;
        font-size: 40px;
        cursor: pointer;
        border: 1px solid #888888;
        background: #888888;
        color: white;
        padding: 15px;
        margin-bottom:50px;
        margin-top: 20px;
    }
    
    #message-1, #message-2, #message-3{
        font-size: 50px;
    }
    
    p{
        font-size:60px;
    }
    
    footer p{
        text-align: center;
        font-size: 50px;
        height: 50px;
        /* position: fixed; */
    }
}